cluster/apps/home-automation/node-red/flows/octopus-purifier.json
{
  "id": "octopus_purifier_tab",
  "label": "Octopus → Air Purifier",
  "nodes": [
    {
      "id": "oct_inj_hr",
      "type": "inject",
      "z": "octopus_purifier_tab",
      "name": "refresh rates (hourly + boot)",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "3600",
      "crontab": "",
      "once": true,
      "onceDelay": "5",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 180,
      "y": 80,
      "wires": [
        [
          "oct_build_url"
        ]
      ]
    },
    {
      "id": "oct_build_url",
      "type": "function",
      "z": "octopus_purifier_tab",
      "name": "build Octopus URL (today, region C)",
      "func": "const now = new Date();\nconst start = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0,0,0,0);\nconst end = new Date(start.getTime() + 24*3600*1000);\nconst P='AGILE-24-10-01', T='E-1R-AGILE-24-10-01-C';\nmsg.method='GET';\nmsg.url=`https://api.octopus.energy/v1/products/${P}/electricity-tariffs/${T}/standard-unit-rates/`+`?period_from=${start.toISOString()}&period_to=${end.toISOString()}&page_size=100`;\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 470,
      "y": 80,
      "wires": [
        [
          "oct_http"
        ]
      ]
    },
    {
      "id": "oct_http",
      "type": "http request",
      "z": "octopus_purifier_tab",
      "name": "GET Agile rates",
      "method": "GET",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "insecureHTTPParser": false,
      "authType": "",
      "senderr": false,
      "headers": [],
      "x": 760,
      "y": 80,
      "wires": [
        [
          "oct_pick"
        ]
      ]
    },
    {
      "id": "oct_pick",
      "type": "function",
      "z": "octopus_purifier_tab",
      "name": "pick 6 cheapest slots",
      "func": "const rates = (msg.payload && msg.payload.results) || [];\nif (!rates.length) { node.warn('Octopus: no rates returned'); node.status({fill:'red',shape:'ring',text:'no rates'}); return null; }\nconst N = 6;\nconst byPrice = [...rates].sort((a,b)=> a.value_inc_vat - b.value_inc_vat);\nconst cheapest = byPrice.slice(0,N).map(r=>({from:r.valid_from, to:r.valid_to, price:r.value_inc_vat}));\nflow.set('cheapestSlots', cheapest);\nconst ordered = [...cheapest].sort((a,b)=>Date.parse(a.from)-Date.parse(b.from));\nconst fmt = s => new Date(s.from).toLocaleTimeString('en-GB',{hour:'2-digit',minute:'2-digit'});\nnode.status({fill:'green',shape:'dot',text:`${N} slots, ${ordered.map(fmt).join(',')}`});\nnode.warn('Octopus cheapest '+N+' slots: '+ordered.map(s=>fmt(s)+'='+s.price.toFixed(2)+'p').join(', '));\nreturn null;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 980,
      "y": 80,
      "wires": [
        []
      ]
    },
    {
      "id": "oct_inj_tick",
      "type": "inject",
      "z": "octopus_purifier_tab",
      "name": "every 1 min",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "60",
      "crontab": "",
      "once": true,
      "onceDelay": "20",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 160,
      "y": 200,
      "wires": [
        [
          "oct_decide"
        ]
      ]
    },
    {
      "id": "oct_decide",
      "type": "function",
      "z": "octopus_purifier_tab",
      "name": "decide turbo/auto (on change)",
      "func": "const slots = flow.get('cheapestSlots') || [];\nconst now = Date.now();\nconst inCheap = slots.some(s => now >= Date.parse(s.from) && now < Date.parse(s.to));\nconst desired = inCheap ? 'turbo' : 'auto';\nif (desired === flow.get('lastMode')) { return null; }\nflow.set('lastMode', desired);\nnode.status({fill: inCheap?'green':'blue', shape:'dot', text: desired+' @ '+new Date().toLocaleTimeString('en-GB')});\nmsg.payload = { preset_mode: desired };\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 460,
      "y": 200,
      "wires": [
        [
          "oct_call"
        ]
      ]
    },
    {
      "id": "oct_call",
      "type": "api-call-service",
      "z": "octopus_purifier_tab",
      "name": "set purifier preset",
      "server": "d73dacbb60c44ca0",
      "version": 5,
      "debugenabled": false,
      "domain": "fan",
      "service": "set_preset_mode",
      "areaId": [],
      "deviceId": [],
      "entityId": [
        "fan.philips_air_purifier"
      ],
      "data": "payload",
      "dataType": "jsonata",
      "mergeContext": "",
      "mustacheAltTags": false,
      "outputProperties": [],
      "queue": "none",
      "x": 760,
      "y": 200,
      "wires": [
        []
      ]
    }
  ],
  "configs": []
}