cluster/apps/home-automation/node-red/flows/tv-speakers.json
{
  "id": "da365982.a36058",
  "label": "TV / Media",
  "nodes": [
    {
      "id": "e4520e02.f829d",
      "type": "comment",
      "z": "da365982.a36058",
      "name": "TV automations",
      "info": "",
      "x": 120,
      "y": 40,
      "wires": []
    },
    {
      "id": "9261aa63.1911b8",
      "type": "switch",
      "z": "da365982.a36058",
      "name": "on/off",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "on",
          "vt": "str"
        },
        {
          "t": "neq",
          "v": "on",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 310,
      "y": 100,
      "wires": [
        [
          "f39f192a.7a84a8"
        ],
        [
          "45744225e77abea9"
        ]
      ]
    },
    {
      "id": "f39f192a.7a84a8",
      "type": "rbe",
      "z": "da365982.a36058",
      "name": "",
      "func": "rbe",
      "gap": "",
      "start": "",
      "inout": "out",
      "septopics": true,
      "property": "payload",
      "topi": "topic",
      "x": 590,
      "y": 100,
      "wires": [
        [
          "f57d5315.4a6ce"
        ]
      ]
    },
    {
      "id": "f57d5315.4a6ce",
      "type": "api-call-service",
      "z": "da365982.a36058",
      "name": "Turn on/off TV speakers",
      "server": "d73dacbb60c44ca0",
      "version": 5,
      "debugenabled": false,
      "domain": "switch",
      "service": "turn_{{payload}}",
      "areaId": [],
      "deviceId": [],
      "entityId": [
        "switch.living_room_tv_speakers"
      ],
      "data": "{}",
      "dataType": "jsonata",
      "mergeContext": "",
      "mustacheAltTags": false,
      "outputProperties": [],
      "queue": "none",
      "x": 790,
      "y": 100,
      "wires": [
        []
      ]
    },
    {
      "id": "82f9780b.5f4168",
      "type": "server-state-changed",
      "z": "da365982.a36058",
      "name": "Get TV current state",
      "server": "d73dacbb60c44ca0",
      "version": 5,
      "outputs": 1,
      "exposeAsEntityConfig": "",
      "entityIdType": "exact",
      "entityId": "media_player.living_room_tv",
      "outputInitially": false,
      "stateType": "str",
      "ifState": "",
      "ifStateType": "str",
      "ifStateOperator": "is",
      "outputOnlyOnStateChange": true,
      "for": 0,
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": false,
      "ignorePrevStateUnknown": false,
      "ignorePrevStateUnavailable": false,
      "ignoreCurrentStateUnknown": false,
      "ignoreCurrentStateUnavailable": false,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 130,
      "y": 100,
      "wires": [
        [
          "9261aa63.1911b8"
        ]
      ]
    },
    {
      "id": "45744225e77abea9",
      "type": "stoptimer-varidelay",
      "z": "da365982.a36058",
      "duration": "10",
      "durationType": "num",
      "units": "Second",
      "payloadtype": "num",
      "payloadval": "0",
      "name": "",
      "reporting": "none",
      "reportingformat": "human",
      "persist": false,
      "ignoretimerpass": false,
      "x": 170,
      "y": 200,
      "wires": [
        [
          "2f8d0d4fc716c07d"
        ],
        [],
        []
      ]
    },
    {
      "id": "2f8d0d4fc716c07d",
      "type": "api-current-state",
      "z": "da365982.a36058",
      "name": "Verify TV state again",
      "server": "d73dacbb60c44ca0",
      "version": 3,
      "outputs": 2,
      "halt_if": "on",
      "halt_if_type": "str",
      "halt_if_compare": "is_not",
      "entity_id": "media_player.living_room_tv",
      "state_type": "str",
      "blockInputOverrides": false,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "off",
          "valueType": "str"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "entity"
        }
      ],
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "override_topic": false,
      "state_location": "payload",
      "override_payload": "msg",
      "entity_location": "data",
      "override_data": "msg",
      "x": 400,
      "y": 200,
      "wires": [
        [
          "f39f192a.7a84a8"
        ],
        []
      ]
    }
  ]
}
